## PORT: Port to listen on
## NODE_ENV: mode to run in (development|production)
## HOST: host to bind to
HOST=0.0.0.0

## PRISMIC_REFS_URI: Prismic endpoint to query for correct ref of latest data
## PRISMIC_GRAPHQL_URI: Prismic GraphQL endpoint
## PRISMIC_ACCESS_TOKEN: Prismic access token
## PRISMIC_EVENT_QUERY: name of the query used to get a single event
## PRISMIC_EVENTS_QUERY: name of the query used to get multiple events