## HOST: host to bind to (can be an IP address or 'localhost')
HOST=localhost
## PORT: port to bind to
PORT=80
## NODE_ENV: whether or not o deploy the application in 'production' or 'development mode'
NODE_ENV=production