## PORT: port to listen on
## BASE_PATH: base path for both the admin ui and api
## USERS_FILE: default users are created from this file
## STRINGS_FILE: default string resources are created from this file
## COOKIE_SECRET: secret used to encrypt admin session cookies

## FLAG_DISABLE_EVENTS: define to remove event support from the CMS
## FLAG_DISABLE_PRODUCTS: define to remove products support from the CMS
## FLAG_DISABLE_RESOURCES: define to remove resources support from the CMS

## MONGO_URI: URI of the running mongodb instance

## DB_USERNAME: the username segment of the mongodb uri (when MONGO_URI is undefined) 
## DB_PASSWORD: the password segment of the mongodb uri (when MONGO_URI is undefined) 
## DB_HOST: the host segment of the mongodb uri (when MONGO_URI is undefined) 
## DB_PORT: the port segment of the mongodb uri (when MONGO_URI is undefined) 
## DB_NAME: the database name segment of the mongodb uri (when MONGO_URI is undefined) 
## DB_QUERY_STRING: the query sting segment of the mongodb uri (when MONGO_URI is undefined) 

