## IZETTLE_CREDENTIALS_FILE: File containing Izettle credentials
## IZETTLE_AUTH_URI: Izettle endpoint for authentication
## IZETTLE_PRODUCTS_URI: Izettle endpoint for products
## NODE_ENV: mode to run in (development|production)
NODE_ENV=production

## PORT: Port to listen on
## HOST: host to bind to
HOST=0.0.0.0