## PORT: Port to listen on
## NODE_ENV: mode to run in (development|production)
## PRODUCTS_FILE: location for the JSON file containing products (this file is only read on startup, so changes won't take effect until restart)
## HOST: host to bind to
HOST=0.0.0.0